@import url("tabs.css");

.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

* {
    font-family: "Segoe UI", sans-serif;
}

div {
    background-color: #BA55D3;
    color: #E6E6FA;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}

header {
    background-color: #BA55D3;
    color: #E6E6FA;
    border-radius: 5px;
    padding: 10px;
}

body {
    background-color: #4B0082;
    color: #E6E6FA;
}

#alleaquaria pre {
    border: 1px solid black;
    background-color: #BA55D3;
}

#aquariumnaaminput {
    width: 250px;
}

.innerdiv {
    background-color: #E6E6FA;
    color: #BA55D3;
    border-radius: 5px;
    padding: 10px;
}